html, body {
   height: 100%;
}  

body { 
   background: url(../images/vistal-bg-0918.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin: 0;
}

.container {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
}

.row {
   width: 100%; 
}

.link { 
   font: 2em "Lucida Console", Monaco, monospace;
   font-weight: bold; 
   color: white;
   text-align: center;
}

a:link {
   text-decoration: none;
}

a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a:active {
   text-decoration: underline;
}