html, body {
   height: 100%;
}  

body { 
   background: url(../images/vistal-bg-0918.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.zine {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

#publitas-embed {
   width: 100%; 
} 
